.unwanted-pinterest-pin {
    
}

.unwanted-pinterest-pin .unwanted-pin-hider:hover {
    opacity: 0;
}

.unwanted-pinterest-pin .unwanted-pin-hider {
    height: 100%;
    background-color: rgba(238, 238, 238, 0.85);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    -webkit-transition: opacity 0.85s ease-in-out 0.5s;
       -moz-transition: opacity 0.85s ease-in-out 0.5s;
        -ms-transition: opacity 0.85s ease-in-out 0.5s;
         -o-transition: opacity 0.85s ease-in-out 0.5s;
            transition: opacity 0.85s ease-in-out 0.5s;
}

.unwanted-pinterest-pin .unwanted-pin-hider span {
    color: rgba(255, 255, 255, 0.65);
    display: block;
    text-align: center;
    top: 48%;
    position: relative;
    background-color: rgba(204, 204, 200, 0.15);
    border: 0.1em solid rgba(100, 100, 100, 0.1);
    border-radius: 1em;
    margin: 2em;
    font-size: 1.5em;
    font-weight: bold;
}

/* EOF */

