.unwanted-pinterest-pin {
    
}

.unwanted-pinterest-pin .unwanted-pin-hider:hover {
    opacity: 0;
}

.unwanted-pinterest-pin .unwanted-pin-hider {
    height: 100%;
    background-color: rgba(238, 238, 238, 0.85);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    -webkit-transition: opacity 0.85s ease-in-out 0.5s;
       -moz-transition: opacity 0.85s ease-in-out 0.5s;
        -ms-transition: opacity 0.85s ease-in-out 0.5s;
         -o-transition: opacity 0.85s ease-in-out 0.5s;
            transition: opacity 0.85s ease-in-out 0.5s;
}

.unwanted-pinterest-pin .unwanted-pin-hider span {
    color: rgba(255, 255, 255, 0.65);
    display: block;
    text-align: center;
    top: 48%;
    position: relative;
    background-color: rgba(204, 204, 200, 0.15);
    border: 0.1em solid rgba(100, 100, 100, 0.1);
    border-radius: 1em;
    margin: 2em;
    font-size: 1.5em;
    font-weight: bold;
}

.PinterestHidePins-PageBrand {
    display: block;
    position: fixed;
    bottom: 0.5em;
    left: 0.5em;
    z-index: 1;
    opacity: 0.65;
    height: 24px;
    width: 48px;
    border: 1px solid;
    border-radius: 0.85em;
    background: white no-repeat 0 center url(http://potherca.github.io/Pinterest-HidePins/Generic/Images/blinds-logo-48x48-transparent.png);
}

.PinterestHidePins-PageBrand:hover {
    opacity: 1;
}

/* EOF */
